{% extends 'base.html'%}
{% block title %}
    Black Holita - Home
{% endblock %}

{% block content %}
<div class="heading">
    <!-- Mostrar somente se estiver logado
    Exemplo em PHP
    <?php
    if (isset($_SESSION['user'])) {
        echo '<h1 class="display-5 title">Bem Vindo(a)</h1>';
        echo '<p> Name : ' . $_SESSION['username'] . '#' . $_SESSION['discrim'] . '';
        echo '<p> ID : ' . $_SESSION['user_id'] . '</p>';
        $extention = is_animated($_SESSION['user_avatar']);
        echo '<p><img src="https://cdn.discordapp.com/avatars/' . $_SESSION['user_id'] . "/" . $_SESSION['user_avatar'] . $extention . '" /></p>';

        echo '<p>'; # Mostrar apenas as guilds onde o usuario é dono.
        for($i = 0; $i < sizeof($_SESSION['guilds']); $i++)
        {
        if ($_SESSION['guilds'][$i]['owner'] == true)
        {
            echo('<div>');
            echo $_SESSION['guilds'][$i]['name'];
            echo('</div>');
        }
        }
        echo '</p>';

        echo '<button class="btn login-btn btn-outline-accent my-2 my-sm-0" style="font-size: 10px !important;font-family: poppins !important;">PAINEL DE CONTROLE</button>';
        echo '<br />';
    } else {
        echo '<br />';
    }
    ?>
    <h1 class="display-5 title">É hora de usar o Bot em seu servidor.</h1>
    <p class="subtitle">BOT serve para aumentar as habilidades e impulsionar o seu servidor Discord<br />Também possui moderação automática, administração e muito mais!</p>
    <a class="btn btn-primary btn-lg" href="#start_link" target="_blank" role="button">Como usar</a>
    <a class="btn btn-secondary btn-lg" href="#server_link" target="_blank" role="button">Adicionar ao Servidor</a>
    <br /><br /><br /><br /><br /><br />
    -->
    <h1 class="display-5 title">Bem-Vindo(a)!</h1>
</div>

<div class="features">
    <div class="title">Características do bot</div>
    <div class="subtitle">Nós fornecemos os melhores recursos do Bot!</div>
    <div class="cards">
        <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">SLOTs #1</h5>
            <p class="card-text">Você guarda seu Dinossauro em um SLOT e no outro SLOT você pode jogar com outro dinossauro de outra espécie sem perder os outros dinossauros que você lutou para crescer.</p>
        </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Future #2</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ex ante, mattis vel dapibus vel, tempor facilisis justo. Vivamus dignissim ut nisi eu consequat.</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Future #3</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ex ante, mattis vel dapibus vel, tempor facilisis justo. Vivamus dignissim ut nisi eu consequat.</p>
            </div>
        </div>
    </div>
    <div class="start">
        <div class="card">
            <div class="card-body gs-card">
                <div class="title">Pronto para experimentar o Bot?</div>
                <div class="subtitle">Convide o Bot e comece a dar vantagens incríveis ao seu servidor!</div>
                <br />
                <a class="btn btn-primary btn-lg" href="#start_link" role="button">Como usar</a>
            </div><br />
        </div>
    </div>
</div>
<br/>
{% endblock %}