{% extends 'base.html'%}
{% block title %}
    Black Holita - Home
{% endblock %}

{% block content %}

{% if current_user %}
<div class="heading">
    <h1 class="display-5 title">Bem-Vindo(a)!</h1>
    <div><img src="{{current_user.avatar_url}}" alt="" class="userimg"></div>
    <p>{{current_user.username}}#{{current_user.discriminator}}</p>
    <p><a href="/logout">Logout</a></p>
</div>

{% else %}
<div class="heading">
    <!-- Não remover div heading para afins de estetica da página-->
</div>
{% endif %}
<div class="features">
    <div class="title">Características do bot</div>
    <div class="subtitle">Nós fornecemos os melhores recursos do Bot!</div>
    <div class="cards">
        <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">SLOTs #1</h5>
            <p class="card-text">Você guarda seu Dinossauro em um SLOT e no outro SLOT você pode jogar com outro dinossauro de outra espécie sem perder os outros dinossauros que você lutou para crescer.</p>
        </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Future #2</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ex ante, mattis vel dapibus vel, tempor facilisis justo. Vivamus dignissim ut nisi eu consequat.</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Future #3</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ex ante, mattis vel dapibus vel, tempor facilisis justo. Vivamus dignissim ut nisi eu consequat.</p>
            </div>
        </div>
    </div>
    <div class="start">
        <div class="card">
            <div class="card-body gs-card">
                <div class="title">Pronto para experimentar o Bot?</div>
                <div class="subtitle">Convide o Bot e comece a dar vantagens incríveis ao seu servidor!</div>
                <br />
                <a class="btn btn-primary btn-lg" href="#start_link" role="button">Como usar</a>
            </div><br />
        </div>
    </div>
</div>
<br/>
{% endblock %}