{% extends 'base.html'%}
{% block title %}
    Black Holita - Login
{% endblock %}

{% block content %}
<div class="heading">
    <h1 class="display-5 title">Login!</h1>
</div>

<div class="features">
    <div class="start">
        <div class="card">
            <div class="card-body gs-card">
                <p>Teste</p>
                <div class="subtitle">aaaaaaaaaa</div>
                <p>Pronto?</p>
                <br/>
                <a class="btn btn-primary btn-lg" href="#start_link" role="button">Como usar</a>
            </div>
            <br/>
            <br/>
        </div>
    </div>
</div>
<br/>
{% endblock %}