{% extends 'base.html'%}
{% block title %}
    Black Holita - Nova Página
{% endblock %}

{% block content %}

{% if current_user %}
<div class="heading">
    <!-- Não remover para afins de estetica da página -->
</div>
<div class="features">
    <div class="start">
        <div class="card">
            <div class="card-body gs-card">

                <h1 class="title">Bem-Vindo(a)!</h1>
                <div><img src="{{current_user.avatar_url}}" class="userimg" alt=""></div>
                <p class="subtitle">{{current_user.username}}#{{current_user.discriminator}}</p>
                <p>Discord ID: {{current_user.id}}</p>
                <!--<p><a href="/logout" class="btn btn-primary btn-lg">Logout</a></p>-->

            </div><br />
        </div>
    </div>
</div>
<br/>
{% else %}
<div class="heading">
    <!-- Não remover div heading para afins de estetica da página-->
</div>
{% endif %}

{% endblock %}